<%= form_with(model: album, local: true) do |form| %>
<% if album.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(album.errors.count, "error") %> prohibited this album from being saved:</h2>

  <ul>
    <% album.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="form-group row">
  <%= form.label :nombre, :class => "col-sm-2 col-form-label" %>
  <%= form.text_field :nombre, :class => "col-sm-5" %>
</div>

<div class="form-group row">
  <%= form.label :descripcion, :class => "col-sm-2 col-form-label" %>
  <%= form.text_field :descripcion, :class => "col-sm-5" %>
</div>

<div class="form-group row">
  <%= form.label :num_canciones, :class => "col-sm-2 col-form-label" %>
  <%= form.text_field :num_canciones, :class => "col-sm-5" %>
</div>

<div class="form-group row">
  <%= form.label :discografica, :class => "col-sm-2 col-form-label" %>
  <%= form.text_field :discografica, :class => "col-sm-5" %>
</div>

<div class="form-group row">

  <%= form.label "Fecha de lanzamiento", :class => "col-sm-2 col-form-label"%>
  <div class="col-sm-5">
    <%= form.date_field :fecha_lanz, :class=> "date_picker" %>
  </div>
</div>

<div class="form-group row">
  <%= form.label "Tipo de álbum", :class => "col-sm-2 col-form-label" %>
  <%= form.collection_select(:album_type_id, AlbumType.all, :id, :nombre, {}, {:class => "col-sm-5 btn btn-secondary dropdown-toggle"}) %>

</div>

<div class="actions">
  <%= form.submit %>
</div>
<% end %>
