<%=form_with(model: genre_artist, local: true) do |form| %>
<% if genre_artist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(genre_artist.errors.count, "error") %> prohibited this genre_artist from being saved:</h2>

      <ul>
        <% genre_artist.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<h1>Generos de <%=@artist.nombre %></h1>

<table id ="genres" class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>Artistas</th>
      <th>Genero</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

    <%= render partial: "genre_artist", collection: @artist.genre_artists%>


  </tbody>
</table>
<h2>Añadir género al artista</h2>
<div class="fields">
	<%=form.label "Género"%>
	<%= form.collection_select(:genre_id, Genre.all, :id, :nombre) %>
</div>
 	<%= form.hidden_field :artist_id, :value => params[:artist_id]%>
<div class="actions">
    <%= form.submit 'Añadir género' %>
</div>
<%end%>

