<p id="notice"><%= notice %></p>

<p>
  <strong>Country:</strong>
  <%= @province.country.nombre %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @province.nombre %>
</p>

<%= link_to 'Edit', edit_province_path(@province) %> |
<%= link_to 'Back', provinces_path %>
