<p id="notice"><%= notice %></p>

<p>
  <strong>Country:</strong>
  <%= @location.country.nombre %>
</p>

<p>
  <strong>Province:</strong>
  <%= @location.province.nombre %>
</p>

<p>
  <strong>City:</strong>
  <%= @location.city.nombre %>
</p>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
